<section class="header-container">
  <h1 class="header-title">Carwale</h1>
  <section class="nav-container">
    <ul class="nav-tablet-group">
      <li class="nav-tablet">
        <span>New Cars</span>
        <section class="nav-main-nested-panel">
          <section class="nav-nested-col1"> 
              <a href="#">Find New Cars</a>
              <a href="#">New Car Offers</a>
              <a href="#">Find Dealer</a>
          </section>
          <section class="nav-nested-col2"> 
              <a href="#">Check On-Road Price</a>
              <a href="#">New Launches</a>
              <a href="#">Loans</a>
          </section>
          <section class="nav-nested-col3"> 
              <a href="#">Upcoming Cars</a>
              <a href="#">Compare Cars</a>
          </section>
        </section>
      </li>
      <li class="nav-tablet">
        <span>Used Cars</span>
        <!-- <section class="nav-main-nested-panel">
            <a href="#">All Used Cars</a>
            <a href="#">Find Used Cars</a>
            <a href="#">Sell Your Car</a>
        </section> -->
      </li>
      <li class="nav-tablet">
          <span>Reviews &amp; News</span>
          <!-- <section  class="nav-main-nested-panel">
              <a href="#">News</a>
              <a href="#">Expert Reviews</a>
              <a href="#">User Reviews</a>
          </section> -->
    </ul>
  </section>
</section>