<span class="header">{{carName}}</span>
<div class="reviewcontainer">
  <img class="reviewimg" src="http://localhost:49345/api/image/getotherimage?name=1">
  <img class="reviewimg" src="http://localhost:49345/api/image/getotherimage?name=1">
  <img class="reviewimg" src="http://localhost:49345/api/image/getotherimage?name=1">
  <img class="reviewimg" src="http://localhost:49345/api/image/getotherimage?name=1">
  <img class="reviewimg" src="http://localhost:49345/api/image/getotherimage?name=0">
  <span class="reviewspan">
      <a href="" class="reviewlink">{{totalreviews}} reviews</a> | 
      <a href ="" class="reviewlink">Write a review</a>
  </span>
</div>
<hr>
