<div class="carsectioncontainer">
  <ul class="carlistheader">
    <li *ngFor="let car of availableCars" class="carlist">
      <div class="car-card">
        <img class="carsectionimage" src={{car.imageURL}} alt={{car.name}}>
        <div class="cartext">
          <a href="" class="carnamelink">{{car.name}}</a>
          <div><span class="carprice"></span> ₹ {{car.startingPrice}}<span class="statictext"> onwards</span></div>
          <div class="statictext">On Road Price (incl. GST), Coimbatore</div>
          <button id="btnPricebreakup" class="btnlargered">View Price Breakup</button>
        </div>
      </div>
    </li>
  </ul>
</div>