.carsectioncontainer{
width: 600px;
background-color: antiquewhite;
}

.example-card {
    max-width: 600px;
    max-height: 300px;
    height: 150px;
  }
  .carsectionimage{
      width: 228px;
      height: 128px;
  }
  .carnamelink{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    color: #0288d1;
  }
  .carnamelink:hover{
    text-decoration: underline;
  }
  .mat-card-title{
    margin-top: 15px !important;
  }
  .carimage{
      margin-left: -25px;
  }
  .cartext{
      margin-left: 30px;
  }
  .btnlargered{
      color: #fff;
      background: #f04031;
      padding:8px;
      cursor: pointer;
      font-size: 16px;
      display: inline-block;
      border: 1px solid transparent;
  }
  .btnlargered:hover{
    background: #f85649;
  }
  .carlistheader{
    margin-left: -40px;
  }
  .carlist{
    list-style-type: none;
    border: .5px solid transparent;
  }