.carsectioncontainer{
width: 100%;
}

.carlistheader{
  margin-left: -7%;
}

.carlist{
  list-style-type: none;
  border: 1px solid transparent;
}

.car-card {
  display: flex;
  background: white;
  }

.carsectionimage{
      width: 228px;
      height: 128px;
  }

 .cartext{
    margin-left: 2%;
  }
  .carprice{
    margin-top: 10px;
    font-size: 20px;
  }
  .statictext{
    font-size: 14px;
  }

 .btnlargered{
    color: #fff;
    background: #f04031;
    padding:8px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    border: 1px solid transparent;
    margin-top: 10%;
    margin-bottom: 10%;
}
.btnlargered:hover{
  background: #f85649;
}

.carnamelink{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    color: #0288d1;
  }
.carnamelink:hover{
    text-decoration: underline;
  }
