.header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #154057;
    height: 44px;
}

.header-title {
    width: 20%;
    height: 25px;
    margin-left: -25px;
    background: url(http://localhost:49345/api/image/GetBannerImage?name=cvBanner) no-repeat;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 68%;
}

.nav-tablet-group {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-tablet {
    list-style: none;
    padding: 10px;
}

.nav-tablet > span{
    color: #FFFFFF;
    cursor: pointer;
    padding: 2px;
}

.nav-tablet:hover {
    background-color: #FFFFFF;
}

.nav-tablet:hover span{
    color: #154057;
}

.nav-tablet:hover .nav-main-nested-panel{
    display: flex;
}

.nav-main-nested-panel{
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 40px;
    left: 0;    
}
.nav-main-nested-panel a{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px;
}
.nav-main-nested-panel a:hover{
    text-decoration: underline;
}
.nav-nested-col1{
    width: 200px;
    /* background-color: lightseagreen; */
}

.nav-nested-col2{
    width: 200px;
    /* background-color: pink; */
}

.nav-nested-col3{
    width: 200px;
}

.search-bar{
    width: 300px;
    padding-left: 15%;
}

.search-bar input{
    width: 100%;
    padding: 10px 9px 9px;
    border: 1px solid #ccc;
    outline: 0;
}

.header-right-section span{
    color: #FFFFFF;
    padding: 2px;
}
