<section class="header-container">

  <section class="header-title">
  </section>

  <section class="nav-container">
    <ul class="nav-tablet-group">
      <li class="nav-tablet">
        <span>New Cars</span>
        <span class="fa fa-caret-down"></span>
        <section class="nav-main-nested-panel">
          <section class="nav-nested-col1">
            <a href="#">Find New Cars</a>
            <a href="#">New Car Offers</a>
            <a href="#">Find Dealer</a>
          </section>
          <section class="nav-nested-col2">
            <a href="#">Check On-Road Price</a>
            <a href="#">New Launches</a>
            <a href="#">Loans</a>
          </section>
          <section class="nav-nested-col3">
            <a href="#">Upcoming Cars</a>
            <a href="#">Compare Cars</a>
          </section>
        </section>
      </li>
      <li class="nav-tablet">
        <span>Used Cars</span>
        <span class="fa fa-caret-down"></span>
        <section class="nav-main-nested-panel">
          <section class="nav-nested-col1">
            <a href="#">All Used Cars</a>
            <a href="#">Find Used Cars</a>
            <a href="#">Sell Your Car</a>
          </section>
          <section class="nav-nested-col2">
            <a href="#">Check Car Valuation</a>
            <a href="#">Insurance</a>
          </section>
        </section>
      </li>
      <li class="nav-tablet">
        <span>Reviews &amp; News</span>
        <span class="fa fa-caret-down"></span>
        <section class="nav-main-nested-panel">
          <section class="nav-nested-col1">
            <a href="#">News</a>
            <a href="#">Expert Reviews</a>
            <a href="#">User Reviews</a>
            <a href="#">Special Reports</a>
          </section>
          <section class="nav-nested-col2">
            <a href="#">Images</a>
            <a href="#">Videos</a>
            <a href="#">Tips and Advice</a>
            <a href="#">Forums</a>
          </section>
        </section>
    </ul>
      <section class="search-bar">
        <input type="text" id="globalSearch" placeholder="Search">
      </section>
  </section>
  
  <section class="header-right-section">
      <span id="global-place" title="Chennai">Chennai</span>
      <span class="fa fa-map-marker position-abt text-white"></span>
  </section>
</section>