<section class="main-banner">
  <section class="banner-search">
      <h1 class="welcome-box__title">Find the right car</h1>
      <ul class="search-tab-groups">
        <li class="search-tab"><a href="#">New Cars</a></li>
        <li class="search-tab"><a href="#">Used Cars</a></li>
      </ul>
      <section class="banner-input">
        <section>
            <input type="text" id="newCarsList" placeholder="e.g. MG Hector">
            <button id="btnFindCarNew">Search</button>
        </section>
        <section class="banner-link">
          <a href="#">e.g. MG Hector</a>
          <a href="#" class="banner-link-righttag">Not Sure?   View all cars here</a>
          <span>&nbsp;|&nbsp;</span>
          <a href="#">New Car Discounts</a>
        </section>
      </section>
  </section>
</section>