.main-banner{
    background: #000000 url(https://imgd.aeplcdn.com/0x0/cw/static/landing-banners/home-page-banner-400.jpg?q=85);
    background-color: #161209;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 400px;
    padding-top: 1px;
    position: relative;
}
.banner-search{
    width: 60%;
    /* background-color: ivory; */
    text-align: center;
    position: absolute;
    /* top: 10%; */
    left: 20%;
    margin-top:50px;
}
.banner-search h1{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 35px;
}
.search-tab-groups{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.search-tab{
    list-style: none;
    padding: 8px 25px;
    outline: 1px solid white;
}
.search-tab a{
    text-decoration: none;
    color: ivory;
}
.search-tab:hover{
    background-color: ivory;
}
.search-tab:hover a{
    color: black;
}
.banner-input{
    display: flex;
    flex-direction: column;
    /* background-color: grey; */
    /* width: 100%; */
    text-align: center;
    justify-content: center;
    padding-top: 2%;
    width: 800px;
    margin-top: 15px;
}
.banner-input input{
    width: 55%;
    padding: 8px 10px;
    height: 20px;
    line-height: 1.5;
}
.banner-input button{
    background-color: #f85649;
    padding: 9px 20px 10px;
    border-radius: 0 2px 2px 0;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    outline: 0;
    white-space: nowrap;
}
.banner-link{
    /* background-color: black; */
    width: 100%;
    padding-top: 5px;
}
.banner-link a{
    text-decoration: none;
    color: ivory;
    font-size: 14px;
}
.banner-link a:hover{
    text-decoration: underline;
}
.banner-link-righttag{
    padding-left: 18%;
}
.welcome-box__title{
    font-weight: 400px;
    font-size: 35px;
    color:#fff;
    text-transform: uppercase;
}