<div class="carmenucontainer">
<ul class="nav-header">
  <li class="nav-list"><a href="" class="menulink">Swift</a></li>
  <li class="nav-list"><a href="" class="menulink">On Road Price</a></li>
  <li class="nav-list">
    <div class="nav-content">
        <a href="" class="menulink">Reviews</a>
        <span class="fa fa-caret-down arrow"></span>
    </div>
   <ul class="nested-nav">
     <li class="nested-list"><a href="" class="nested-list-ink">Expert Reviews</a></li>
      <li class="nested-list"><a href="" class="nested-list-ink">User Reviews</a></li>
   </ul>
  </li>
  <li class="nav-list"><a href="" class="menulink">Gallery</a>
    <!-- <span class="arrow">
        <span class="fa fa-caret-down"></span>
     </span> -->
     <!-- <div class="nav-list-section">
        <a href="" class="nav-llist-ink">Images</a>
        <a href="" class="nav-llist-ink">360° View</a>
        <a href="" class="nav-llist-ink">Videos</a>
     </div> -->
  </li>
  <li class="nav-list"><a href="" class="menulink">Colours</a></li>
  <li class="nav-list"><a href="" class="menulink">Versions</a></li>
  <li class="nav-list"><a href="" class="menulink">More</a>
    <!-- <span class="arrow">
        <span class="fa fa-caret-down"></span>
     </span> -->
  </li>
</ul>
</div>