.featured-main{
    width: 100%;
}
.featured-main h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    color: #1a1a1a;
    font-weight: 400;
}
.featured-container{
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.featured-tabs-header{
    /* background-color: lightblue; */
    width: 70%;
    margin: 0;
    padding: 0;
}
.tabs-header-groups{
    list-style: none;
    display: flex;
    margin: 0;
    /* padding: 5px 50px; */
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
}
.tabs-list{
    /* padding: 10px 10px 13px; */
    padding: 0 100px;
    color: #565a5c;
    cursor: default;
    display: table-cell;
    text-align: center;
    font-size: 18px;
}
.tabs-list h3{
    font-weight: 400;
    font-size: 18px;
    padding: 0;
}
.ease-out-in{
    width: 333px;
    left: 0;
}