@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color:#f4f3f3;
}